/* ------------------------------- Coloque sua estilização aqui ------------------------------- */


body {
    height: 100vh;
    width: 100%;
}

:root {

    /* Font-FAMILY */
    --font-family: 'Inter', sans-serif;
    --font-family-2: 'Nunito', sans-serif;

    /* Titulo Sizes*/
    --font-title-1: 52px;
    --font-title-2: 38px;
    --font-title-3: 28px;
    --font-title-4: 18px;

    /* Text Sizes*/
    --font-text-1: 20px;
    --font-text-2: 14px;
    --font-text-3: 12px;

    /* weight */
    --font-weight-1: 600;
    --font-weight-2: 400;


    /*Colors*/
    --blue-1: #4C6EF5;
    --blue-2: #364FC7;

    --grey-0: #191C1F;
    --grey-1: #212529;
    --grey-2: #ADB5BD;
    --grey-3: #CED4DA;
    --grey-4: #F8F9FA;
    --grey-5: #868E96;
    --grey-6: #343A40;

}

;

.text-paragraph-1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

